body {
  margin: 0;
  padding-top: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.brand {
  font-weight: bold;
  color: #fff;
  display: flex;
  height: 4em;
  padding: 1rem 2rem;
  flex-direction: flex-start;
  background-color: #646464;
}

#responsive-navbar-nav {
  justify-content: space-between;
}
Nav {
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  height: 5em;
  justify-content: space-between;
}


.App{
    margin:0; 
     padding-top: 35px;;
    overflow: hidden;
  }
  
  #cont{
    margin:0 auto;
    padding:0;
    overflow: hidden;
  
  }

.navbar-nav,
.mr-auto {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: baseline;
}
.logo a {
  text-decoration: none;
}
button {
  background-color: #099209;
  border-color: #099209;
  border-radius: 6%;
  border-width: 6px;
  border-style: solid;
  font-weight: bold;
  margin-left: 100%;

  color: #000;
 
}

/* .App {
    -moz-box-shadow: inset 0 0 40px #d39730;
    -webkit-box-shadow: inset 0 0 40px #d39730;
    box-shadow: inset 0 0 40px #d39730;
  } */

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cardgrid{
    border-radius: 8px;
    width: 250px;
    margin: 15px;
    background-color: white;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 1);
    background-color: #fff;
  }
  .poster {
    max-width: 100%;
    height: 375px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

.tag.green {
  background-color: green;
}

.tag.red {
  background-color: red;
}

.tag.yellow {
  background-color: yellow;
}
.tag.grey {
  background-color: grey;
}

.cardgrid:hover {
  box-shadow: 5px 5px 30px 10px rgb(223, 216, 216);
}

.cardtitle {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: black;
  background-color: #fff;
  color: #000;
}

.cardtitle:hover {
  color: black;
}

.tag2.green span {
  background-color: green;
}

.tag2.red span {
  background-color: red;
}

.tag2.yellow span {
  background-color: yellow;
}
.tag2.grey span {
  background-color: grey;
}
.image2 {
  width: 18rem;
  height: 60vh;
  margin-top: 30px;
  /* margin-left: 25px; */
  /* min-height: 80%; */
}

.textfoot {
  color: black;
}

#moviepagecont {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
}

#postercont {
  align-items: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

#infocont {
  align-items: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

h5 {
  font-weight: bold;
  text-align: right;
  margin: 5px 5px;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
}

#info {
  text-align: left;
  margin: 5px 5px;
  color: black;
}

p,
span {
  text-align: left;
  color: black;
}

#right {
  color: rgb(172, 168, 168);
}

#title {
  text-align: start;
  font-weight: bold;
  color: black;
  /* margin:8px 5px; */
}
span #reldate {
  font-size: 18px;
  color: black;
}
#reldate {
  color: black;
}
#reldate:before {
  content: "(";
}

#reldate:after {
  content: ")";
}
#rate {
  color: black;
}
form {
  margin: 5px 5px;
}
.col-auto {
  padding-right: 1.3rem;
}
input[type="text"],
select {
  width: 50vw;
  text-align: left;
  margin: 5px 5px;
  margin-left: 520px;
  color: black;
  align-items: right;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 50vw;
  background-color: #099209;
  color: black;
  text-align: center;
  justify-self: center;
  margin: 5px 5px;
  margin-left: 520px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.underline{
    color: #87cefa;
}
@media(min-width:568px){
    .container{
      flex-direction:row;
      flex-wrap: wrap;
    }
    /* .cardgrid{
      width:195px;
      height:295px;
    } */
  }
  @media(min-width:2140px){
    .container{
      width:2140px;
    }
  }
  @media(min-width:568px){
    .container{
      width:530px;
    }
  }
  
  @media(min-width:867px){
    .container{
      width:830px;
      margin:3em;
    }
    /* .i{
      flex-direction:row;
      margin:1em;
    } */
    /* .poster{
      width:48%;
    } */
    /* .card{
      width:48%;
  } */
  }
  @media(min-width:1075px){
    .container{
      width:1030px;
    }
    /* .poster{
      width:43%;
      
    } */
    /* .card{
      width:53%;
  } */
  }
  
  @media(min-width:1495px){
    .container{
      width:1470px;
    }
  }
  
  
  